<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/Fantasma favicon.png">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="style.css">
    
    <title>About</title>
</head>
<body>
    <main>
        
        <div id="header"><!---header-->
            
           <a href="/"> <img id="sello-on-the-top" alt="sello-fantasma" src="images/LogoNegre.svg"></a>
        </div> <!---header-->
        <div id="cabecera"> <!---links-->
                <div class="titulos"><a href="/" class="atitulos">Home</a></div>
                <div class="titulos"><a href="/grupos" class="atitulos">Grupos</a></div>
                <div class="titulos"><a href="/index" class="atitulos">Tienda</a></div>
                <div class="titulos"><a href="/news" class="atitulos">Novedades</a></div>
                <div class="titulos"><a href="/about" class="atitulos">Sello Fantasma</a></div>
               <div class="titulos"> <a href="/terms&conditions">Terms and conditions</a></div>
        </div> <!--cabecera--->
        <div class="about">
            <p>Sello fantasma es una discográfica nacida en 2023. Se creó con la intención de publicar las canciones de Silencio sepulcral. 
               Nos supo a poco, así que decidimos publicar también el último disco de Elsa de Alfonso. Aun con ganas de más, seguiremos publicando 
               y compartiendo música. Si tenéis algo que decir, podéis escribirnos a nuestra dirección de correo electrónico.
               <a href="mailto: sello.fantasma.rt@gmail.com">sello.fantasma.rt@gmail.com</a></p>
               {{!-- posar els enllacos a instagram i bandcamp //versió ordinador: el text està al home, i els enllacos estàn al about i el mail també               --}}
        </div>
       <div class="xarxes">
        <a href="https://www.youtube.com/@SelloFantasma-music" class="fa fa-youtube" target="_blank"></a>
        <a href="https://www.instagram.com/sello.fantasma/" class="fa fa-instagram" target="_blank"></a>
        <a href="https://sellofantasma.bandcamp.com/" target="_blank" class="fa fa-bandcamp"></a>
                 
        {{!-- posar aquí logos --}}
        
       </div>
       
        
        

    </main>
    <footer>
        <p>&copy Sello fantasma 2024</p>
        <a href="/">Home</a>
        <a href="/grupos">Grupos</a>
        <a href="/index">Tienda</a>
        <a href="/news">Novedades</a>
        <a href="/about">About</a>
    </footer>
    
</body>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/main.js"></script>
</html>