<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close,menu" />
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/Fantasma favicon.png">
    <title>Elsa de Alfonso</title>
</head>

<body>
    <main>
        <div id="header">
            <a href="/"> <img id="sello-on-the-top" alt="sello-fantasma" src="images/LogoNegre.svg"></a>
        </div> 

         <div class="links">
            <span id="menu-icon" class="material-symbols-outlined" onClick=myHamburger()>menu</span>
            <div id="link-block">
                    <div class="titulos"><a href="/">Sello Fantasma</a></div>
                    <div class="titulos"><a href="/grupos">Grupos</a></div>
                    <div class="titulos"><a href="/index">Tienda</a></div>
                    <div class="titulos"><a href="/news">Novedades</a></div>
            </div>
        </div> 
        <div class="containervideos">
            <div class="videos">
                <iframe width="auto" height="315" src="https://www.youtube.com/embed/xqbiVSvPVos?si=46qQTNNVQ9DyWh8h"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="text elsa">
                <p><strong><a style="text-decoration: none; color:black;" href="https://elsadealfonso.bandcamp.com/" target="_blank">Elsa de Alfonso</a></strong>, artista barcelonesa, cuenta con varios discos publicados. Su último lanzamiento, el
                    EP Crucero, salió a la luz a principios de 2024, ha sido coproducido con EJ Marais. Este EP, citando
                    a Elsa, "es un viaje
                    emocional y musical a través de archipiélagos de samples, corrientes sintéticas y oleaje de
                    guitarras".
                </p>
            </div>
        </div> 
        <div class="xarxes">
            <a href="https://www.youtube.com/@elsadealfonso712" title="youtube de Elsa" class="fa fa-youtube"
                target="_blank"></a>
            <a href="https://www.instagram.com/elsadealfonso?igsh=MXVzazgzemNmMmppNw==" title="instagram de Elsa"
                class="fa fa-instagram" target="_blank"></a>
            <a href="https://elsadealfonso.bandcamp.com/album/crucero-2" title="bandcamp de Elsa" target="_blank"
                class="fa fa-bandcamp"></a>
        </div>

    </main>
     <footer>
        <div class="footer">
            <p>&copy Sello fantasma 2025</p>
            <a href="/termsconditions">Terms and conditions</a>
        </div>
    </footer>
</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
    integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/main.js"></script>
<script src="/script.js"></script>

</html>