<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/png" sizes="32x32" href="images/Fantasma favicon.png">
        <title>Elsa de Alfonso</title>
    </head>
<body>
<div id="container">

        <div id="header"><!---header-->
            
           <a href="/"> <img id="sello-on-the-top" alt="sello-fantasma" src="images/LogoNegre.svg" ></a>
        </div> <!---header-->
        
    <div id="cabecera"> <!---links-->
        <div class="titulos"><a href="/" class="atitulos"><p>Home</p></div></a>
        <div class="titulos"><a href="/grupos" class="atitulos"><p>Grupos</p></div></a>
        <div class="titulos"><a href="/index" class="atitulos"><p>Tienda</p></div></a>
        <div class="titulos"><a href="/news" class="atitulos"><p>Novedades</p></div></a>
        <div class="titulos"><a href="/about" class="atitulos"><p>Sello Fantasma</p></div></a>
    </div> <!--cabecera--->

    <div class="containervideos"> 
         <div class="videos">
            <video controls poster="videos/Maridaje---portada.jpg">
            <source src="videos/Elsa de Alfonso - Maridaje 6.webm">
            </video>
        </div>
        <div class="textelsa">
            <p>Elsa de Alfonso, artista barcelonesa, cuenta con varios discos publicados. Su último lanzamiento, el EP Crucero, salió a la luz a principios de 2024, ha sido coproducido con EJ Marais. Este EP, citando a Elsa, "es un viaje
                emocional y musical a través de archipiélagos de samples, corrientes sintéticas y oleaje de guitarras".
            </p>
        </div>           
    </div> <!--container videos-->
    <div class="xarxes">
        <a href="https://www.youtube.com/@elsadealfonso712" class="fa fa-youtube" target="_blank"></a>
        <a href="https://www.instagram.com/elsadealfonso?igsh=MXVzazgzemNmMmppNw==" class="fa fa-instagram" target="_blank"></a>
        <a href="https://elsadealfonso.bandcamp.com/album/crucero-2" target="_blank" class="fa fa-bandcamp"></a>
    </div>
        
        
    </div> <!---container--> 
<footer>
    <p>&copy Sello fantasma 2024</p>
    <a href="/">Home</a>
    <a href="/grupos">Grupos</a>
    <a href="/index">Tienda</a>
    <a href="/news">Novedades</a>
    <a href="/about">About/Impressum</a>
</footer>
</body>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/main.js"></script>
</html>