<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet"><link rel="stylesheet" href="style.css">
    
    
    <link rel="icon" type="image/png" sizes="32x32" href="images/Fantasma favicon.png">
    <title>Sello Fantasma Portada</title>
</head>
<body>


    <div id="container">

        <div id="header"><!---header-->
            
           <a href="#"> <img id="sello-on-the-top" alt="sello-fantasma" src="images/LogoNegre.svg"></a>
        </div> <!---header-->

        <div id="links"> <!---links-->
        
                <div class="titulos" id="firselement"><a href="/" class="atitulos h">Home</a></div>
                <div class="titulos"><a href="/grupos" class="atitulos g">Grupos</a></div>
                <div class="titulos"><a href="/index" class="atitulos t">Tienda</a></div>
                <div class="titulos"><a href="/news" class="atitulos n">Novedades</a></div>
                <div class="titulos"><a href="/about" class="atitulos s">Sello Fantasma</a></div>
        </div>

        <div id="texthome">
            <p>Vamos a sacar tus canciones favoritas</p>

        </div>
      
    </div> <!---container-->

    
    <footer>
        <p> &copy Sello fantasma</p>
        <a href="/grupos">Grupos</a>
        <a href="/index">Tienda</a>
        <a href="/news">Novedades</a>
        <a href="/about">About</a>
        <a href="/terms&conditions">Terms and conditions</a>
    
    </footer>
    
    <script type="text/javascript" src="https://app.termly.io/resource-blocker/b5b66d6c-2207-42a6-9982-eb16c1abc6e5?autoBlock=on"></script>
</body>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/main.js"></script>
</html>