<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/Fantasma favicon.png">
    <title>Imperio</title>
</head>

<body>
    <div id="container">

        <div id="header"><!---header-->

            <a href="/"> <img id="sello-on-the-top" alt="sello-fantasma" src="images/LogoNegre.svg"></a>
        </div> <!---header-->

        <div id="cabecera"> <!---links-->
            <div class="titulos1"><a href="/">
                    <p>Home</p>
            </div></a>
            <div class="titulos"><a href="/grupos">
                    <p>Grupos</p>
            </div></a>
            <div class="titulos"><a href="/index">
                    <p>Tienda</p>
            </div></a>
            <div class="titulos"><a href="/news">
                    <p>Novedades</p>
            </div></a>
            <div class="titulos sf"><a href="/about">
                    <p>Sello Fantasma</p>
            </div></a>
        </div> <!--cabecera--->

        <div class="containervideos">
            <div class="videos">
                <iframe style="border: 0; width: 350px; height: 470px;"
                    src="https://bandcamp.com/EmbeddedPlayer/album=2872104054/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"
                    seamless><a href="https://imperio.bandcamp.com/album/despedidas-y-reencuentros-2">Despedidas y
                        reencuentros by Imperio</a></iframe>
            </div>
            <div class="text imperio">
                <p>Imperio, el proyecto íntimo y lo-fi de Anna Taulés (Barcelona/Berlín). Desde su debut en 2012 ha
                    cultivado un estilo muy personal con una producción minimalista. Cuenta von varios álbumes y EPs
                    publicados. Sello Fantasma presenta su último EP "Despedidas y reencuentros".
                </p>
            </div>
        </div> <!--container videos-->
        <div class="xarxes">
            <a href="https://www.youtube.com/@SelloFantasma-music" title="youtube de SF" class="fa fa-youtube"
                target="_blank"></a>
            <a href="https://www.instagram.com/imperio_sideral/?igsh=MTE4ZTNuYmZxOW5zeQ%3D%3D"
                title="instagram de Imperio" class="fa fa-instagram" target="_blank"></a>
            <a href="https://imperio.bandcamp.com/" title="bandcamp de Imperio" target="_blank"
                class="fa fa-bandcamp"></a>
            {{!-- <a href="https://vimeo.com/imperiosideral" title="vimeo de Imperio" class="fa fa-vimeo"
                target="_blank"></a> --}}
        </div>


    </div> <!---container-->
    <footer>
        <p>&copy Sello fantasma 2024</p>
        <a href="/">Home</a>
        <a href="/grupos">Grupos</a>
        <a href="/index">Tienda</a>
        <a href="/news">Novedades</a>
        <a href="/about">About/Impressum</a>
    </footer>
</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
    integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/main.js"></script>

</html>