<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet"><link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/Fantasma favicon.png">
    <title>Shopping Cart</title>
</head>
<body>
    <header>

        <div id="header"><!---#header-->
            
           <a href="/"> <img id="sello-on-the-top" alt="sello-fantasma" src="images/LogoNegre.svg" ></a>
        </div> <!---#header-->
          <div id="cabecera"> <!---links-->
                <div class="titulos1"><a href="/"><p>Home</p></div></a>
                <div class="titulos"><a href="/grupos"><p>Grupos</p></div></a>
                <div class="titulos"><a href="/index"><p>Tienda</p></div></a>
                <div class="titulos"><a href="/news"><p>Novedades</p></div></a>
                <div class="titulos sf"><a href="/about"><p>Sello Fantasma</p></div></a>
        </div> <!--cabecera--->
 
        <div class="cart">
            <a href="/cart">
                <ion-icon name="basket"></ion-icon>Cart<span>0</span>
            </a>
        </div>   <!--.cart-->                 
    </header>

    <div class="container">
        {{!-- <div class="image">
            <img src="/images/camisetaAmarilla.jpg" alt="camiseta-amarilla">
            <h4 class="tituloproducto">Camiseta amarilla</h4>
            <h4>15,00€</h4>
            <a class="add-cart cart1" href="#">Add Cart</a>
            <input type="hidden" value="15">
        </div>
        <div class="image">
            <img src="/images/mecheroCocina.jpg" alt="mecherococina">
            <h4>Mechero Cocina</h4>
            <h4>5,00€</h4>
            <a class="add-cart cart2" href="#">Add Cart</a>
            <input type="hidden" value="5">
        </div>
        <div class="image">
            <img src="/images/posterElsaEspanto.jpg" alt="posterElsaEspanto">
            <h4>Poster Elsa Espanto</h4>
            <h4>10,00€</h4>
            <a class="add-cart cart3" href="#">Add Cart</a>
            <input type="hidden" value="10">
        </div>
        <div class="image">
            <img src="/images/camisetaBlanca.jpg" alt="camisetablanca">
            <h4>Camiseta blanca</h4>
            <h4>15,00€</h4>
            <a class="add-cart cart4" href="#">Add Cart</a>
            <input type="hidden" value="15">
        </div> --}}


    </div>
    <div class="subtienda">
        <p>Si buscas algún producto y no lo encuentras, escríbenos: <a href="mailto: sello.fantasma.rt@gmail.com">sello.fantasma.rt@gmail.com</a></p>
    </div>   
    <footer>
        <p> &copy Sello fantasma</p>
        <a href="/">Home</a>
        <a href="/grupos">Grupos</a>
        <a href="/index">Tienda</a>
        <a href="/news">Novedades</a>
        <a href="/about">About</a>
        <a href="/termsconditions">Terms and conditions</a>
    
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>    
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/main.js"></script>
</body>
</html>
