<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="sello_fantasma_news" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="/path/to/@material-design-icons/font/index.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close,menu" />
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/Fantasma favicon.png">
    <title>Novedades</title>
</head>

<body>


    <main>

        <div id="header">
            <a href="/"> <img id="sello-on-the-top" alt="sello-fantasma" src="images/LogoNegre.svg"></a>
        </div>
        <div class="links">
            <span id="menu-icon" class="material-symbols-outlined" onClick=myHamburger()>menu</span>
            <div id="link-block">

                <div class="titulos"><a href="/">Sello Fantasma</a></div>
                <div class="titulos"><a href="/grupos">Grupos</a></div>
                <div class="titulos"><a href="/index">Tienda</a></div>
                <div class="titulos"><a href="/news">Novedades</a></div>

            </div>
        </div>
        <div class="wrap">
            <div class="news tres">
                <h1>Silencio sepulcral en Navidad</h1>
                <div class="textnews tres">

                    <div class="fotosnews tres">
                        <div class="foto1 tres">
                            <img src="images/silencioennavidad.jpeg" alt="silencio sepulcral foto">

                        </div>

                    </div>
                    <p>Estas Navidades nuevo EP de Silencio sepulcral. Atento todo el mundo a todas las plataformas
                        musicales. Volvemos pronto, muy pronto.</p>
                </div>

            </div>
            <div class="news oroplata">
                <h1>Nuevo videoclip realizado por Oro y Plata</h1>

                <div class="textnews">

                    <div class="videos noticias">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/RcQ8fajelvc?si=lxBrU3kzOVWXpRwE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>




                    </div>
                    <p>Ya puedes ver el último videoclip de Imperio para la Canción pop de la amistad realizado por Oro
                        y Plata. Ani Caballero y Jordi Marin son los artistas detrás de la cámara. Puedes ver todos sus
                        vídeos en el canal de youtube <a target="_blank"
                            href="https://www.youtube.com/@ProduccionesOroyPlata">Producciones Oro y Plata.</a> </p>
                </div>


            </div>
            {{!-- <div class="news cuatro">
                <h1>Sofia Cardich + Elsa de Alfonso + Ellegalgo</h1>
                <div class="textnews dos">
                    <div class="fotosnews dos">
                        <div class="foto1 dos">
                            <img src="/images/Elsa_Jaume_74ppp.jpg" alt="foto_elsa">
                            <div class="subtevrinews">
                                <h5>Foto&nbsp;&nbsp; <span>&copy;Jordi Marín</span></h5>
                            </div>
                        </div>


                    </div>
                    <p>Este jueves 4 de septiembre nuestra <a href="https://sellofantasma.click/elsa"
                            target="_blank">Elsa de
                            Alfonso</a> toca junto a Sofia Cardich y Ellegalgo apartir de las 19:30 en Rouge Cocktail
                        Club. Compra tu entrada ahora y gozarás no solo de un <a target="_blank"
                            href="https://dice.fm/event/mxr9qr-sofia-cardich-elsa-de-alfonso-ellegalgo-4th-sep-rouge-cocktail-club-barcelona-tickets?sharer_id=61e9bffed82f6b0001a13942&_branch_match_id=1491432926130777991&utm_source=dice&utm_campaign=event_share&utm_medium=event_share&_branch_referrer=H4sIAAAAAAAAAw3ISw5AMBAA0NtY9oMIErGTOIHEplGdYfwzbcLK2XnLN4dw%2BVLKjY5VOBpB4C6nK82bPrRLZ2s%2FDwxsyFWZhsIigstjzKxSSg86KdI4ehkQmOmYjOXz9sBVQ%2F%2BdzwdnWW2yXgAAAA%3D%3D">descuento
                            2x1,</a> sino también de una buena tarde de verano.</p>
                </div>

            </div> <!---news2---> --}}
            {{!-- <div class="news tres">
                <h1>BIS Festival<br> Lidia Damunt + Imperio</h1>
                <div class="textnews tres">

                    <div class="fotosnews tres">
                        <div class="foto1 tres">
                            <img src="images/bisig.webp" alt="cartel_bisfestival">

                        </div>

                    </div>
                    <p>Ya podéis comprar las entradas del concierto de <strong>Lidia Damunt + Imperio en BIS
                            Festival</strong>, que
                        tendrá lugar el <strong>19 de septiembre</strong>. Compra <em><a target="_blank"
                                href="https://dice.fm/partner/bis-festival/event/avmnd7-lidia-damunt-imperio-19th-sep-almo2bar-barcelona-tickets?dice_id=6371115&dice_channel=web&dice_tags=organic&dice_campaign=BIS+Festival&dice_feature=mio_marketing&_branch_match_id=1463847607657277302&utm_source=web&utm_campaign=BIS+Festival&utm_medium=mio_marketing&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9ZLyUxO1UvL1Q%2BzsEg1MzGzTDQ3SrOvK0pNSy0qysxLj08qyi8vTi2ydcsEiuVXAACm93OOPAAAAA%3D%3D">aquí
                                tu entrada.</a></em> No te quedes sin ella.</p>
                </div>

            </div> --}}<!---news1--->
            {{!-- <div class="news uno">
                <h1>Nueva trilogía de Imperio</h1>
                <div class="textnews uno">

                    <div class="fotosnews uno">
                        <div class="foto1 uno">
                            <img src="images/annanews.webp" alt="foto_anna">
                            <div class="subtanna">
                                <h5>Anna Taulés&nbsp;&nbsp; <span>&copy;Flavia Barragan</span></h5>
                            </div>
                        </div>

                    </div>
                    <p>Buenas noticias: se aproxima el nuevo lanzamiento de Imperio. No muy lejos del solsticio de
                        verano ya podréis escuchar la nueva trilogía.</p>
                </div>

            </div> <!---news1---> --}}
            {{!-- <div class="news dos">
                <h1>Las rarezas de Evripidis</h1>
                <div class="textnews dos">
                    <div class="fotosnews dos">
                        <div class="foto1 dos">
                            <img src="/images/evrinews.webp" alt="portadavinilo">
                            <div class="subtevrinews">
                                <h5>Foto portada&nbsp;&nbsp; <span>&copy;Marc Ribera</span></h5>
                            </div>
                        </div>


                    </div>
                    <p>Ya está disponible en todas las plataformas “Alegre Persona Triste”, la celebración de 20 años de
                        pop
                        de Evripidis and His Tragedies. Una compilación de singles, rarezas y curiosidades que repasa
                        toda
                        su trayectoria.


                        El álbum es la primera edición física de Sello Fantasma, un espectacular doble LP que incluye
                        fotos
                        y textos invitados.
                        Para más información, puedes ir al <a target="_blank"
                            href="https://evripidisandhistragedies.bandcamp.com/album/alegre-persona-triste-2">bandcamp
                            de
                            Evripidis and his tragedies.</a>
                    </p>
                </div>

            </div> --}} <!---news2--->

    </main> <!---wrap-->


    <footer>
        <div class="footer">
            <p>&copy Sello fantasma 2025</p>
            <a href="/termsconditions">Terms and conditions</a>
        </div>

    </footer>
</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
    integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/main.js"></script>
<script src="/script.js"></script>

</html>