<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/Fantasma favicon.png">
    <title>Novedades</title>
</head>
<body>


    <div id="container">

        <div id="header"><!---header-->
            
           <a href="/"> <img id="sello-on-the-top" alt="sello-fantasma" src="images/LogoNegre.svg"></a>
        </div> <!---header-->
        <div id="cabecera"> <!---links-->
                <div class="titulos"><a href="/" class="atitulos"><p>Home</p></div></a>
                <div class="titulos"><a href="/grupos" class="atitulos"><p>Grupos</p></div></a>
                <div class="titulos"><a href="/index" class="atitulos"><p>Tienda</p></div></a>
                <div class="titulos"><a href="/news" class="atitulos"><p>Novedades</p></div></a>
                <div class="titulos"><a href="/about" class="atitulos"><p>Sello Fantasma</p></div></a>
        </div> <!--cabecera--->
        <div class="wrap">
            <div class="textnews">
                <p>Nos llena de alegría anunciar el primer lanzamiento físico de Sello Fantasma: 
                
                Alegre Persona Triste, un doble álbum de Evripidis and histragedies que celebra sus 20 años de
                carrera musical y recopila singles no incluídos en sus LPs anteriores, colaboraciones y rarezas.
                
                Una edición de lujo para nuestro griego más querido, amigo, compañero de piso y de juergas, y, sobre todo, músico, de lo
                mejor de la escena barcelonesa, española, griega, europea, internacional.
                
                La preventa ya está abierta y ya está disponible el adelanto "It is Happening Again", 
                compuesta y grabada en 2012-2013, trabajo conjunto de Odil Bright y Evripidis and his Tregdies.
                
                Para más información, puedes ir al  <a href="https://evripidisandhistragedies.bandcamp.com/album/alegre-persona-triste-2">bandcamp de Evripidis and his tragedies.</a>
                </p>
            </div>
            <div class="fotosnews">
               <div class="foto1">
                <img src="/images/Evripidis/Evricaraa.jpg" alt="portadavinilo">
               </div>
               <div class="foto2">
                <img src="/images/Evripidis/Evricarab.jpg" alt="contraportadavinilo">
               </div>

            </div>

        </div> <!---wrap-->

    
    <footer>
        <p>&copy Sello fantasma</p>
        <a href="/">Home</a>
        <a href="/grupos">Grupos</a>
        <a href="/index">Tienda</a>
        <a href="/news">Novedades</a>
        <a href="/about">About</a>
        <a href="/termsconditions">Terms and conditions</a>
    
    
    </footer>
    
</body>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/main.js"></script>
</html>
