<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/Fantasma favicon.png">
    <title>Novedades</title>
</head>

<body>


    <div id="container">

        <div id="header"><!---header-->

            <a href="/"> <img id="sello-on-the-top" alt="sello-fantasma" src="images/LogoNegre.svg"></a>
        </div> <!---header-->
        <div id="cabecera"> <!---links-->
            <div class="titulos1"><a href="/">
                    <p>Home</p>
            </div></a>
            <div class="titulos"><a href="/grupos">
                    <p>Grupos</p>
            </div></a>
            <div class="titulos"><a href="/index">
                    <p>Tienda</p>
            </div></a>
            <div class="titulos"><a href="/news">
                    <p>Novedades</p>
            </div></a>
            <div class="titulos sf"><a href="/about">
                    <p>Sello Fantasma</p>
            </div></a>
        </div> <!--cabecera--->
        <div class="wrap">
            <div class="news1">
                <h1>Nueva trilogía de Imperio</h1> 
            <div class="textnews 1">
               
                <div class="fotosnews 1">
                    <div class="foto1 1">
                        <img src="images/annanews.webp" alt="foto_anna">
                        <div class="subtanna"><h5>Anna Taulés&nbsp;&nbsp;  <span>&copy;Flavia Barragan</span></h5></div>
                    </div>
                    
                </div>
                <p>Buenas noticias: se aproxima el nuevo lanzamiento de Imperio. No muy lejos del solsticio de verano ya podréis escuchar la nueva trilogía.</p>
            </div>
            
            </div> <!---news1--->
            <div class="news2">
                <h1>Las rarezas de Evripidis</h1>
            <div class="textnews 2">
                <div class="fotosnews 2">
                <div class="foto1 2">
                    <img src="/images/evrinews.webp" alt="portadavinilo">
                     <div class="subtevrinews"><h5>Foto portada&nbsp;&nbsp; <span>&copy;Marc Ribera</span></h5></div>
                </div>
              

            </div>
                <p>Ya está disponible en todas las plataformas “Alegre Persona Triste”, la celebración de 20 años de pop
                    de Evripidis and His Tragedies. Una compilación de singles, rarezas y curiosidades que repasa toda
                    su trayectoria.


                    El álbum es la primera edición física de Sello Fantasma, un espectacular doble LP que incluye fotos
                    y textos invitados.
                    Para más información, puedes ir al <a target="_blank"
                        href="https://evripidisandhistragedies.bandcamp.com/album/alegre-persona-triste-2">bandcamp de
                        Evripidis and his tragedies.</a>
                </p>
            </div>
            
            </div> <!---news2--->

        </div> <!---wrap-->


        <footer>
            <p>&copy Sello fantasma</p>
            <a href="/">Home</a>
            <a href="/grupos">Grupos</a>
            <a href="/index">Tienda</a>
            <a href="/news">Novedades</a>
            <a href="/about">About</a>
            <a href="/termsconditions">Terms and conditions</a>


        </footer>

</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
    integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/main.js"></script>

</html>