<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/png" sizes="32x32" href="images/Fantasma favicon.png">
        <title>Silencio Sepulcral</title>
    </head>
<body>
<div id="container">

        <div id="header"><!---header-->
            
           <a href="/"> <img id="sello-on-the-top" alt="sello-fantasma" src="images/0034328131_100.png" ></a>
        </div> <!---header-->

<div class="containervideos">    
    <div class="videos">
        <video controls>
        <source src="videos/Song Coming Out Of the Mountains.webm">
        </video>
    </div>

    <div class="videos">
        <video controls>
        <source src="videos/1. TodaviÌa hace calor - fantasma.webm">
        </video>
    </div>
</div><!--container videos-->
    
       
</div> <!---container--> 
<footer>
    <p>&copy Sello fantasma</p>
    <a href="/">Home</a>
    <a href="/grupos">Grupos</a>
    <a href="/index">Tienda</a>
    <a href="/news">Novedades</a>
    <a href="/about">Sello fantasma</a>
</footer>
</body>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/main.js"></script>
</html>