<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://kit.fontawesome.com/770cff3260.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close,menu" />
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/Fantasma favicon.png">
    <title>Terms and conditions</title>
</head>
<body>
<main> 
    <div id="header">  
                <a href="/"><img id="sello-on-the-top" alt="sello-fantasma" src="images/LogoNegre.svg" ></a>
    </div> 
              <div class="links">
            <span id="menu-icon" class="material-symbols-outlined" onClick=myHamburger()>menu</span>
            <div id="link-block">
            
                        <div class="titulos1"><a href="/">Sello Fantasma</a></div>
                        <div class="titulos"><a href="/grupos">Grupos</a></div>
                        <div class="titulos"><a href="/index">Tienda</a></div>
                        <div class="titulos"><a href="/news">Novedades</a></div>
                
            </div> 
        </div>
   
        {{!-- parlar amb el chat GPT i dir li que m'ho traduexi a l'anglès --}}
 <div class="TC">           
        <h1>Términos y Condiciones</h1>
        <p><strong>1. Aceptación de los Términos</strong> <br>

        Al acceder y utilizar el sitio web de Sello Fantasma, ubicado en https://sellofantasma.click, usted 
        acepta estar sujeto a estos Términos y Condiciones, todas las leyes y regulaciones aplicables, 
        y acepta que es responsable de cumplir con las leyes locales aplicables. 
        Si no está de acuerdo con alguno de estos términos, se le prohíbe usar o acceder a este. <br> 

        <strong>2. Licencia de Uso</strong><br>
        Se concede permiso para visualizar temporalmente los materiales en el sitio web de Sello Fantasma para uso personal y no comercial. Esta es la concesión de una licencia, no una transferencia de título, y bajo esta licencia no puede:

            Modificar o copiar los materiales;
            Utilizar los materiales para cualquier propósito comercial, o para cualquier exhibición pública (comercial o no comercial);
            Intentar descompilar o realizar ingeniería inversa de cualquier software contenido en el sitio web de Sello Fantasma;
            Eliminar cualquier derecho de autor u otras notaciones de propiedad de los materiales; o
            Transferir los materiales a otra persona o "reflejar" los materiales en cualquier otro servidor.

        Esta licencia terminará automáticamente si usted viola cualquiera de estas restricciones y puede ser terminada por Sello Fantasma en cualquier momento. <br>
        <strong> 3. Productos y Compras</strong> <br>

        Sello Fantasma ofrece a la venta discos, camisetas, pósters y otros productos relacionados con nuestra marca y las bandas que publicamos. Todas las compras realizadas en nuestro sitio web están sujetas a disponibilidad y confirmación del precio del pedido. Nos reservamos el derecho de rechazar cualquier pedido que realice con nosotros. Se le enviará un correo electrónico de confirmación una vez que su pedido haya sido aceptado.
        <br>
        <strong>4. Información Personal </strong> <br>

        Para completar una compra, se requerirá que proporcione 
        información personal como su nombre, número de teléfono y dirección de 
        correo electrónico. Sello Fantasma se compromete a proteger su privacidad y manejar 
        su información personal de acuerdo con nuestra Política de Privacidad. <br>

        <strong> 5. Pagos </strong> <br>

        Aceptamos pagos con tarjeta de crédito y débito. 
        Al proporcionar los datos de su tarjeta, usted confirma que está 
        autorizado a utilizarla y que hay fondos suficientes para cubrir el costo de la compra. 
        Todas las transacciones están aseguradas y encriptadas para su protección. <br>

        <strong> 6. Envíos y Devoluciones</strong> <br>

        Realizamos envíos a nivel nacional e internacional. 
        Los plazos de entrega pueden variar según su ubicación y la disponibilidad del producto. 
        En caso de que un producto llegue dañado o no coincida con la descripción, puede solicitar una devolución o 
        cambio dentro de los 14 días siguientes a la recepción del producto. Para iniciar un proceso de devolución, por favor, 
        contáctenos en sello.fantasma.rt@gmail.com. <br>

        <strong> 7. Propiedad Intelectual</strong> <br>

        Todos los contenidos incluidos en este sitio, como textos, 
        gráficos, logotipos, íconos de botones, imágenes, clips de audio, descargas digitales, 
        compilaciones de datos y software, son propiedad de Sello Fantasma o de sus proveedores de contenido 
        y están protegidos por las leyes de derechos de autor internacionales. <br>

        <strong>8. Limitaciones</strong> <br>

        En ningún caso, Sello Fantasma o sus proveedores serán responsables de cualquier daño (incluidos, sin limitación, 
        daños por pérdida de datos o beneficios, o debido a la interrupción del negocio) 
        que surjan del uso o la imposibilidad de usar los materiales en el sitio web de Sello Fantasma, incluso si Sello Fantasma 
        o un representante autorizado de Sello Fantasma ha sido notificado oralmente o por escrito de la posibilidad de tales daños. <br>

        <strong> 9. Modificaciones de los Términos y Condiciones</strong> <br>

        Sello Fantasma puede revisar estos términos y condiciones del sitio web en cualquier momento sin previo aviso. 
        Al utilizar este sitio web, usted acepta estar sujeto a la versión actual de estos Términos y Condiciones. <br>

        <strong> 10. Ley Aplicable</strong> <br>

        Cualquier reclamación relacionada con el sitio web de Sello Fantasma se regirá por las leyes del estado de Alemania sin 
        consideración a sus conflictos de disposiciones legales.</p>

</div>

</main>
   <footer>
        <div class="footer">
            <a href="/"><i class="fa-solid fa-arrow-left"></i></i> Vuelve</a>
            <p>&copy Sello fantasma 2025</p>
            
        
        </div>
       
    </footer>


</body>
 <script src="/script.js"></script>
</html>
      