<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet"><link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close,menu" />
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/Fantasma favicon.png">
    <title>Thank You</title>
</head>
<body>
     <div id="header">  
            <a href="/"> <img id="sello-on-the-top" alt="sello-fantasma" src="https://res.cloudinary.com/dwww8qhfq/image/upload/v1721145961/LogoNegre_uoyepu.svg" ></a>
        </div> <!---header-->
         <div class="links">
            <span id="menu-icon" class="material-symbols-outlined" onClick=myHamburger()>menu</span>
            <div id="link-block">
            
                        <div class="titulos"><a href="/">Sello Fantasma</a></div>
                        <div class="titulos"><a href="/grupos">Grupos</a></div>
                        <div class="titulos"><a href="/index">Tienda</a></div>
                        <div class="titulos"><a href="/news">Novedades</a></div>
                
            </div> 
        </div>
        <div class="cart">
            <a href="/cart">
                <ion-icon name="basket"></ion-icon>Cart<span>0</span>
            </a>
        </div>   <!--.cart-->                 
    </header>
    <div class="wrap">
        <div class="checkoutSuccessCtn">
            <h1>Muchas gracias</h1>
          
            <p>Tu compra ha finalizado</p>
            <p>Recibirás un correo electrónico con la factura</p>
        </div>
    </div>



   <footer>
        <div class="footer">
            <p>&copy Sello fantasma 2025</p>
            <a href="/termsconditions">Terms and conditions</a>
        </div>
       
    </footer>

      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/getSession.js"></script>
     <script src="/script.js"></script>
</body>
</html>
