

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body, html {
    background-color: white;
    color:black;
    margin:0;
    padding:0;
    box-sizing:border-box;  
    width:100vw;
    font-family: "Raleway", sans-serif;  
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
a:hover {
    cursor: pointer;
    opacity: 0.5;
}

/*---------------------------H MENU-------------------------------*/
#menu-icon {
    color: black;
    display: block;
    right: 15px;
    cursor: pointer;
    z-index: 11000;
    position: fixed;
    top: 24px;
  }
  #menu-icon:hover {
    cursor: pointer;
  }
  #menu-icon.active {
    color: white;
  }
  #link-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateY(-100%);
    transition: transform 0.4s ease;
    z-index: 10000;
  }
  #link-block.active {
    transform: translateY(0);
  }

    



/*-------------------------- Tienda ------------------------------*/
.cart {
   display:flex;
   justify-content: end;
   margin-right: 8%;   
}

.cart span {
    padding-left: 5px;
}
.cart a {
    padding: 10px;
    background-color:#fff;
    text-decoration: none;
    border-radius: 5px;
}
.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}
.cart a {
    background-color: #0b42e8;;
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}
.container,
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    color: rgb(19, 19, 17);
}
.container {
    max-width: 1000px;
    margin: 50px auto 0;
    flex-wrap: wrap;
    justify-content: center;
}
.image {    
    position: relative;
    overflow: hidden;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.image img {
    width: 100%;
}
.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}
.showAddCart {
    bottom: 42px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}
h4 {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.subtienda {
  font-weight: 700;
  color: #e7184e;
}
.subtienda p {
    margin: auto 5%;
}
.subtienda a {
text-decoration: none;
color: black;
font-weight: 800;
transition: all 0.3s ease;
font-size: 14px;    
}
.subtienda a:hover{
        color:red;
}
.subtienda p{
    font-size: 14px;
    letter-spacing: 0.5px;
}
/*----------------------------------------HOME-----------------*/

main{
 /* display:flex;
 flex-direction: column;
background-color: white; */
flex:1;
}
#header {
    width: 150px;
}
#header img{
    width:100%;
}

.titulos{
    font-size: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.titulos a {
    text-decoration: none;
    color:white;
    transition: 0.6s all ease;
  
}
.titulos a:hover {
    transition: 0.6s all ease;
    opacity:0.5;
}
.footer {
    padding: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    margin-right: 20px;
}
footer a {
    text-decoration: none;
    color: black;
    margin-left: 11px;
}

footer a:hover {
    color: rgba(19, 24, 1, 0.356);
}
 
footer p {
    margin-left: 4%;
}
#header {
    margin: 5% auto 5% 7%;
} 
 #texthome {
    flex:1;
    /* height: 72vh; */
} 
#texthome p{
    text-align: center;
    margin-top: 55px;
    font-size: 20px;
}

#texthome{
    color: #868585ec;
}


/*---------------------- CART PAGE ------------------------*/

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}
.products-container ion-icon  {
    font-size:25px;
    color:blue;
    cursor: pointer;
}
.product-header {
    width:100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}
.product-header h5 {
    margin: 5%;
}
.product-title {
    width:45%;
}
.price {
    width: 15%;
    display:flex;
    align-items: center;
}
.quantity {
    width: 30%;
    display: flex;
    align-items: center;
}
.product {
    width:45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.productincart img {
    width: 25%;
}
.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle {
    width: 30%;
}
.basketTotal {
    width: 10%;
}
.buyBtnCtn {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.startCheckout {
    padding: 10px 20px;
    background-color: rgb(36, 114, 26);
    border-radius: 5px;
    color: #fff;
    margin-right: 10%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.startCheckout:hover {
    background-color: rgba(36, 114, 26, 0.555);
}

/*------------------------------------------ GRUPOS -------------------------------------*/

#bandas{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
#bandas a{
    text-decoration: none;
}
.silenciosepulcral img, .elsadealfonso img, .evripidis img{
    width:100%;
}
.banda{
    margin: auto 10%;   
}
.banda h3, .banda h3 span{
    font-size: 14px;
    margin-bottom: 60px;
}
.banda-text span{
    display:none;
}
h2{
    margin: 3px auto 30px;
}

h3, h2{
    color:black;
    letter-spacing: 1px;
    /* margin: 3px auto 30px; */
}
.catalogo >h3 {
    color: rgb(50, 247, 10);
} 
.containerfoto{
    position: relative;
    width: 100%;
}
.imagen {
    display:block;
    width:100%;
    height:auto;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.containerfoto:hover .overlay {
    opacity: 1;
}
.texto {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.containerfoto a{
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
}
#cabecera{
    display: none;
}
#elsadealfonso h3 span{
    font-weight: lighter;
    font-size: 11px;
    margin-left: 7px;
}
.subtelsa{
    display: flex;
    justify-content: space-between;
}

/*----------------------- Silencio sepulcral Elsa de Alfonso Imperio--------------------------------*/
.containervideos {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px 10px 10px 23px;
  padding-top: 50px;
}
.text{
    margin-top:20px;
    margin-bottom: 30px;
    font-size: 1rem;
}  
.text p{
    width: 300px;
} 
.videos {
   /*  max-width:350px;
    margin: 0 auto;
    aspect-ratio: 16 / 9; */
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
}
.videos iframe {
/*     width: 100%;
    height: 100%;
    border: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.videos video {
    width: 100%;
}
.videos video:hover {
    cursor: pointer;
}



/*------------------------------ Novedades ----------------------------------------*/
.textnews{
    max-width:1000px;
    margin-top: 27px;
    margin-bottom: 55px;
    font-weight: 500;
}
/* .news {
    margin-left: 6px;
} */
.news h1{
    line-height: 30px;
    text-align: left;
    margin-top: 20px;
}
.fotosnews{
    display: flex;
    flex-direction: column;
}
.foto1{
    max-width:500px;
    align-self: center;
}
.subtanna h5, .subtanna span, .subtevrinews span, .subtevrinews h5{
    margin-bottom:20px;
    font-size: 14px;
}
.subtanna span, .subtevrinews span{
    font-weight:400;
}

.fotosnews img{
    width: 100%;
}
.wrap{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 6%;
    padding-top: 50px;
    align-items: center;
}
.cabeceranews{
    text-align: center;
}
.news p{
    max-width: 415px;
    margin-top: 10px;
}
.textnews a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: all 0.3s ease;
}
.textnews a:hover{
    opacity: 0.6;
}
.foto1.tres {
    margin-bottom: 30px;
}

/*------------------------------------ About ---------------------------------------*/

.about p {
    text-align: left;  
    letter-spacing: 1px;
    line-height: 24px;
}
.about a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: all 0.3s ease;
}
.about a:hover {
    color: rgba(2,31,37,0.39957990031950286);
}
.about {
    margin: 80px auto 95px 30px;
    padding-top: 50px;
}
.fa {
    padding: 11px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
  .fa-youtube {
    background: #bb0000;
    color: white;
    height: 50px;
    width:50px;
    border-radius: 30px;
    margin-left: 10px;
  }
  .fa-youtube::before{
    font-size: 27px;
  }
  .fa-instagram {
    background: #125688;
    color: white;
    height: 50px;
    width:50px;
    border-radius: 30px;
    margin-left: 0px;
  }
  .fa-instagram::before{
    font-size: 27px;
  }
  .fa-bandcamp{
    padding:4px 0;
    height: 50px;
    width:50px;
    border-radius:30px;
    margin-top: 0 !important;
    margin-left: -2px;
  }
  .fa-bandcamp::before{
    font-size: 48px;
    margin-left:0px;
   
  }

  .xarxes {
    flex-wrap: wrap;
    display: flex;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 50px;
    gap:10%;
    margin-left: 50px;
    align-items: center;
  }
 

  .copi{
    margin-left:20%;
    margin-top:43px;
  }
 
/*--------------------- Thank You Page -----------------------------------*/


.checkoutSuccessCtn{
    font-size:19px;
    margin:10%;
}


.checkoutSuccessCtn h1 {
    width:700px;
    margin-bottom: 14px;

} 



/*-------------------------------Terms and conditions-------------------------------------*/


.TC h1{
    margin:5%;
}
.TC p{
    margin: 5%;
}
.TC a{
    text-decoration: none;
    
    font-weight: 500;
    color: grey;
    margin-bottom: 20px;
}
.TC a:hover{
    color: black;
}
.fa-solid {
    margin-left: -10px;
}

/* ---------------- MIN WIDTH 428px ------- */
/*-------------------NEWS-----------*/
@media screen and (min-width:428px){
.news p .foto1{
    max-width:400px;
}
}

/*--------------500 px----------------------*/
@media screen and (min-width:500px){
    .news p{
        max-width: 500px;
        font-size:23px;
    }
    .news h1 {
        font-size: 36px;
        line-height: 36px;
    }
}

/*MIN WIDTH 568--------------------------------*/

@media screen and (min-width: 568px) {
    .videos {
        width: 80%;
        padding-bottom: 80%;
        right: 65px;
    }
    .text p {
        width: 80%;
    }
}




/*--------------------MIN WIDTH 810px-----------------*/

/*-------------------HOME--------------------*/

@media  screen and (min-width: 810px){

    /*------------- H MENU (ALL)---------------------*/
    #link-block:hover .titulos a { 
        opacity: 0;
      }
      #link-block .titulos a:hover {
        opacity: 1;
      }
    #menu-icon {
        display: none;
    }
    /*-----------FIN H MENU -----------------------------*/
    .titulos{
        letter-spacing: 0px;
    }
    .pl {
        padding-left: 0;
    }
    .titulos a, .titulos1 a {
        color: black;
    }
    .titulos a:hover, .titulos1 a:hover {
        color: white;
    }
    #link-block{
        position: initial;
        justify-content: space-between;
        padding-left: 87px;
        padding-right: 57px;
    }
    #texthome p{
        display: block;
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        margin-left: 91px;
    }
    #header {
        margin-bottom: 103px;
        margin-top: 55px;
        margin-left: 91px;
        width: 233px;
    }
  
   .fotosnews{
    flex-direction: row;
   }
    
    .textnews{
        font-size: 20px;
    }
    footer {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: initial;
        font-style: italic;
    }
    footer p {
        margin-left: 4%;
    }
}


/*-----------------TIENDA-----------------*/

@media screen and (min-width: 810px){
    .cart {
        margin-right: 4%;
    }
    .container {
        justify-content:space-between;
        flex-direction: row;
    }
    .image {
        margin-right: 20px;
        margin-left: 20px;
    }
    .TC p{
        width: 790px;
    }
    .fotosnews{
        flex-direction: row;
    }
}

/*---------------GRUPOS----------------------*/

@media screen and (min-width: 810px){
    #link-block{
        flex-direction: row;
        margin-top: 13px;
        height: 60px;
        display:flex;
        margin-bottom: 3%; /*para cabecera about*/
        background-color: rgba(38, 35, 35, 0.16);
    }
    .sf{
        line-height: 20px;
    }
    .banda{
        margin: auto 91px;
      }
    #bandas{
        flex-direction: row;
        flex-wrap:wrap; 
    }
    .containerfoto{
        max-width: 469px;
    }
    .banda h3{
        margin-bottom: 100px;
    } 
    .banda h3 span{
        font-weight: lighter;
        font-size: 14px;
        margin-left: 121px;
    }
}

/*---------------------SILENCIO SEPULCRAL + ELSA------------------*/

@media screen and (min-width: 810px){
    .containervideos{
        flex-direction: row;
        flex-wrap:nowrap; 
        margin:inherit;  
        align-items:start; 
        align-items: left;
    }
    .videos {
        width: 100%;
        padding-bottom: 24.25%;
        max-width: 600px;
        margin-left: 151px;
        margin-right: 0;
    }
    .text{
        margin: 1% auto 5% 86.4px;
        width: 572px;
    }
    .text.silencio, .text.evripidis, .text.imperio, .text.elsa {
        margin: 0 10px auto 0;       
    }

    .text p{
        display: block;
        font-size: 18px;
        font-weight: 500;
        text-align: inherit;
        width: 382px;
       
    }
    .xarxes{
        display: flex;
        gap:65px;
        transition: all 0.1s ease-in-out;
    }
    
    
}

/*---------------NOVEDADES------------*/

@media screen and (min-width: 810px){
   
    .wrap {
        flex-wrap: wrap;
        margin:8px auto 54px 53px;
        align-items: start;
    }
    .wrap h2{
        font-size: 2.5rem;
        margin-left: 38px;
    }
    .wrap h3 {
        font-size:1.5rem;
        margin-left: 38px;
    }
    .poster{
        margin: inherit;
        margin-top:19px;
        margin-left: 38px;
        max-width: 400px;
    }
    .cabeceranews{
        text-align: inherit;
    }
    .news{
        margin-left: 38px;
        display:flex;
        flex-direction: column;
        align-items: baseline;
    }
    .news h1{
        font-size: 45px;
        margin-bottom:20px;
        line-height: 55px;
    }
    .news p{
        align-self: start;
        margin-right: 0;
        max-width: 400px;
        font-size:20px;
        font-weight:400;
    }
    

    .textnews{
        display:flex;
        flex-direction: row-reverse;
        max-width:inherit;
    }
    .videos.noticias {
        margin-right: 0;
        margin-left: 92px;
        padding-right: 273px;
    }

}

/*------------------ ABOUT --------------------*/

@media screen and (min-width: 810px){
    #link-block{
        width: 100vw;
    }
    
    .about {
        width: 70%;
        margin: inherit;
        margin-left: 84px;
    }
    .about a{
        font-size: 37px;
    }
    .about p{
        /* font-weight: 500; */
         line-height: 48px; 
        text-align: inherit;
        /* width: 898px; */
        font-size: 40px;
        /* margin-left: 94px; */
    }
    .xarxes{
        justify-content: initial;
        margin-top: 74px;
        margin-left: 79px;
    }
    .fa-youtube::before,  .fa-instagram::before {
        font-size: 30px
      }
      .fa-bandcamp::before{
        font-size: 59px;
      }
      .fa-youtube, .fa-instagram , .fa-bandcamp {
        height: 59px;
        width:59px;
      } 
      .fa-bandcamp {
        margin-top: -25px !important;
        margin-left: -15px;
      }
      .fa {
        padding: 16px;
      }
  
    
     
}

/*---------------------THANK YOU -------------------*/

@media screen and (min-width: 810px){
    .checkoutSuccessCtn {   
        font-size: 50px;
        font-weight: 500;
        width: 649px;
        margin-left: 15%;
        }
    }

/*------------- TERMS & CONDITIONS --------------------*/

@media screen and (min-width: 810px){
    .TC p{
        width: 790px;
    }
    .fa-solid {
        margin-left: 65px;
    }
}
/*----------MIN WIDTH 900 TEXT SILENCIO SEPULCRAL-------------------------*/
@media screen and (min-width: 900px) {
    .text p {
        width:500px;
    }
}

/*-------------------MIN-WIDTH 1000px --------NEWS-----------------------*/
@media screen and (min-width: 995px) {
    .news p {
        font-size: 30px;
    }
}
@media screen and (min-width:1000px){
    .news p{
        max-width:600px;
    }
    .text p {
        font-size: 20px;
    }
}

/*------------------MIN WIDTH 1212px ----- ABOUT --------*/

@media screen and (min-width: 1212px){
    .about{
        width: 50%;
    }
}

@media screen and (min-width: 1263px) {
    .news {
        flex-direction: column;
    }
    .textnews {
        flex-direction: row-reverse;
    }
    .news p {
        font-size: 39px;
    }
    .videos.noticias {
        padding-right: 346px;
    }
}
/*---------------MIN WIDTH 1380px-------------NEWS--------*/

@media screen and (min-width: 1380px) {
    .news p{
        max-width: 800px;
    }
    .videos.noticias {
        margin-left: 104px;
        padding-right: 262px;
    }
    
}