

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body, html {
    background-color: white;
    color:black;
    margin:0;
    padding:0;
    box-sizing:border-box;  
    width:100vw;
    font-family: "Raleway", sans-serif;  
    height: 100%;
    margin: 0;
}


/*-------------------------- Tienda ------------------------------*/
.cart {
   display:flex;
   justify-content: end;
   margin-right: 8%;   
}
#cabecera{
    background-color: rgb(243, 237, 237);
}
.cart span {
    padding-left: 5px;
}
.cart a {
    padding: 10px;
    background-color:#fff;
    text-decoration: none;
    border-radius: 5px;
}
.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}
.cart a {
    background-color: #0b42e8;;
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}
.container,
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    color: rgb(19, 19, 17);
}
.container {
    max-width: 1000px;
    margin: 50px auto 0;
    flex-wrap: wrap;
    justify-content: center;
}
.image {    
    position: relative;
    overflow: hidden;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.image img {
    width: 100%;
}
.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}
.showAddCart {
    bottom: 42px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}
h4 {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.subtienda {
  font-weight: 700;
  color: #e7184e;
}
.subtienda p {
    margin: auto 5%;
}
.subtienda a {
text-decoration: none;
color: black;
font-weight: 800;
transition: all 0.3s ease;
font-size: 14px;    
}
.subtienda a:hover{
        color:red;
}
.subtienda p{
    font-size: 14px;
    letter-spacing: 0.5px;
}
/*----------------------------------------HOME-----------------*/

#container{
   /* display:flex;
    flex-direction: column; */
    background-color: white;
}
#header {
    width: 233px;
}
#header img{
    width:100%;
}
#links{
    display: none;
    background-color:rgba(38, 35, 35, 0.16)
}
.titulos, .titulos1{
    font-size: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.titulos a, .titulos1 a{
    text-decoration: none;
    color:black;
}
.titulos a:hover, .titulos1 a:hover{
    color:white;
    transition: .2s ease-in-out;
}
footer a {
    text-decoration: none;
    margin: auto 5% 5%;
    color: black;
}

footer a:hover {
    color: rgba(19, 24, 1, 0.356);
}
footer {   
    margin: 87% auto auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    font-weight: 600;
    font-size: 20px;
   
}   
#header {
    margin: 5% auto;
} 
 #texthome {
    height: 72vh;
} 
#texthome p{
    text-align: center;
    margin-top: 55px;
    font-size: 20px;
}

#texthome{
    color: #868585ec;
}


/*---------------------- CART PAGE ------------------------*/

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}
.products-container ion-icon  {
    font-size:25px;
    color:blue;
    cursor: pointer;
}
.product-header {
    width:100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}
.product-header h5 {
    margin: 5%;
}
.product-title {
    width:45%;
}
.price {
    width: 15%;
    display:flex;
    align-items: center;
}
.quantity {
    width: 30%;
    display: flex;
    align-items: center;
}
.product {
    width:45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.productincart img {
    width: 25%;
}
.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle {
    width: 30%;
}
.basketTotal {
    width: 10%;
}
.buyBtnCtn {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.startCheckout {
    padding: 10px 20px;
    background-color: rgb(36, 114, 26);
    border-radius: 5px;
    color: #fff;
    margin-right: 10%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.startCheckout:hover {
    background-color: rgba(36, 114, 26, 0.555);
}

/*------------------------------------------ GRUPOS -------------------------------------*/

#bandas{
    display: flex;
    flex-direction: column;
}
#bandas a{
    text-decoration: none;
}
.silenciosepulcral img, .elsadealfonso img, .evripidis img{
    width:100%;
}
.banda{
    margin: auto 10%;   
}
.banda h3, .banda h3 span{
    font-size: 14px;
    margin-bottom: 60px;
}
.banda-text span{
    display:none;
}
h2{
    margin: 3px auto 30px;
}

h3, h2{
    color:black;
    letter-spacing: 1px;
    /* margin: 3px auto 30px; */
}
.catalogo >h3 {
    color: rgb(50, 247, 10);
} 
.containerfoto{
    position: relative;
    width: 100%;
}
.imagen {
    display:block;
    width:100%;
    height:auto;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.containerfoto:hover .overlay {
    opacity: 1;
}
.texto {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.containerfoto a{
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
}
#cabecera{
    display: none;
}
#elsadealfonso h3 span{
    font-weight: lighter;
    font-size: 11px;
    margin-left: 7px;
}
.subtelsa{
    display: flex;
    justify-content: space-between;
}

/*----------------------- Silencio sepulcral Elsa de Alfonso Imperio--------------------------------*/
.containervideos {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.text{
    font-size: 1rem;
}  
.text p{
    width: 300px;
} 
.videos {
    max-width:1000px;
    margin: 0px;
}

.videos video {
    width: 100%;
}
.videos video:hover {
    cursor: pointer;
}



/*------------------------------ Novedades ----------------------------------------*/
.textnews{
    max-width:1000px;
    margin-top: 27px;
    margin-bottom: 55px;
    font-weight: 500;
}
.news h1{
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}
.fotosnews{
    display: flex;
    flex-direction: column;
}
.foto1{
    max-width:500px;
    align-self: center;
}
.subtanna h5, .subtanna span, .subtevrinews span, .subtevrinews h5{
    margin-bottom:20px;
    font-size: 14px;
}
.subtanna span, .subtevrinews span{
    font-weight:400;
}

.fotosnews img{
    width: 100%;
}
.wrap{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 6%;
    align-items: center;
}
.cabeceranews{
    text-align: center;
}
.news p{
    max-width: 415px;
}
.textnews a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: all 0.3s ease;
}
.textnews a:hover{
    opacity: 0.6;
}
.foto1.tres {
    margin-bottom: 30px;
}

/*------------------------------------ About ---------------------------------------*/

.about p {
    text-align: center;  
    letter-spacing: 1px;
    line-height: 24px;
}
.about a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    transition: all 0.3s ease;
}
.about a:hover {
    color: rgba(2,31,37,0.39957990031950286);
}
.about {
    margin: 10%;
}
.fa {
    padding: 16px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
  .fa-youtube {
    background: #bb0000;
    color: white;
    height: 59px;
    width:59px;
    border-radius: 30px;
    margin-left: 10px;
  }
  .fa-youtube::before{
    font-size: 30px
  }
  .fa-instagram {
    background: #125688;
    color: white;
    height: 59px;
    width:59px;
    border-radius: 30px;
    margin-left: 0px;
  }
  .fa-instagram::before{
    font-size: 30px;
  }
  .fa-bandcamp{
    padding:4px 0;
  }
  .fa-bandcamp::before{
    font-size: 56px;
    margin-left:0px;
  }
  .xarxes{
    flex-wrap: wrap;
    display: flex;
    height: 70px;
    margin-top: 10px;
    gap:10%;
    justify-content: center;
    align-items: center;
  }
  /* .fa-vimeo::before{
    background-color: #551a8b;
    color: #fff;
    padding: 13px;
    border-radius: 30px;
} */

  .copi{
    margin-left:20%;
    margin-top:43px;
  }
 
/*--------------------- Thank You Page -----------------------------------*/


.checkoutSuccessCtn{
    font-size:19px;
    margin:10%;
}


.checkoutSuccessCtn h1 {
    width:700px;
    margin-bottom: 14px;

} 



/*-------------------------------Terms and conditions-------------------------------------*/


.TC h1{
    margin:5%;
}
.TC p{
    margin: 5%;
}
.TC a{
    text-decoration: none;
    
    font-weight: 500;
    color: grey;
    margin-bottom: 20px;
}
.TC a:hover{
    color: black;
}

/* ---------------- MIN WIDTH 428px ------- */
/*-------------------NEWS-----------*/
@media screen and (min-width:428px){
.news p .foto1{
    max-width:400px;
}
}
@media screen and (min-width:500px){
    .news p{
        max-width: 500px;
        font-size:23px;
    }
}

    




/*--------------------MIN WIDTH 810px-----------------*/


/*-------------------HOME--------------------*/

@media  screen and (min-width: 810px){
    .titulos{
        letter-spacing: 0px;
    }
    #texthome {
        height: 34vh;
    }
    
    #texthome p{
        display: block;
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        margin-left: 91px;
    }
    #links{
        display: flex;
        flex-direction: row;
        margin-top: 13px;
        margin-bottom: 3%;
        height: 51px;
    }
    #header {
        margin-bottom: 61px;
        margin-top: 55px;
        margin-left: 95px;
    }
  
   .fotosnews{
    flex-direction: row;
   }
    
    .textnews{
        font-size: 20px;
    }
    footer {
        margin: 69% auto auto;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        font-size: initial;
        font-style: italic;
    }
    footer a{
        margin-bottom: 15px;
    }
  
}


/*-----------------TIENDA-----------------*/

@media screen and (min-width: 810px){
    .cart {
        margin-right: 4%;
    }
    .container {
        justify-content:space-between;
        flex-direction: row;
    }
    .image {
        margin-right: 20px;
        margin-left: 20px;
    }
    .TC p{
        width: 790px;
    }
    .fotosnews{
        flex-direction: row;
    }
}

/*---------------GRUPOS----------------------*/

@media screen and (min-width: 810px){
    #cabecera{
        flex-direction: row;
        margin-top: 13px;
        height: 51px;
        display:flex;
        margin-bottom: 3%; /*para cabecera about*/
        background-color: rgba(38, 35, 35, 0.16);
    }
  .titulos1{
        margin: auto 60px auto 91px;
    }
   
    .titulos{
        margin: auto 60px auto auto;
    }
    .sf{
        line-height: 20px;
    }
  
    .banda{
        margin: auto 91px;
      }
    #bandas{
        margin-top:85px;
        flex-direction: row;
        flex-wrap:wrap; 
    }
  
    .containerfoto{
        max-width: 469px;
    }
    .banda .subtsilencio h3, .banda .subtelsa h3, .banda .subtevri h3{
        margin-bottom: 100px;
    } 
    .banda h3 span{
        font-weight: lighter;
        font-size: 14px;
        margin-left: 121px;
    }
}

/*---------------------SILENCIO SEPULCRAL + ELSA------------------*/

@media screen and (min-width: 810px){
    .containervideos{
        flex-direction: row;
        flex-wrap:wrap; 
        margin:inherit;  
        align-items:start; 
        align-items: left;
    }
    .videos {
        max-width: 400px;
        margin-left: 84px;
    }
    .text{
        margin: 1% auto 5% 86.4px;
        width: 572px;
    }

    .text p{
        display: block;
        font-size: 20px;
        font-weight: 500;
        text-align: inherit;
        width:500px;
    }
    .xarxes{
        gap:65px;
        transition: all 0.1s ease-in-out;
    }
    
    
}

/*---------------NOVEDADES------------*/

@media screen and (min-width: 810px){
   
    .wrap {
        flex-wrap: wrap;
        margin:54px;
        align-items: start;
    }
    .wrap h2{
        font-size: 2.5rem;
        margin-left: 38px;
    }
    .wrap h3 {
        font-size:1.5rem;
        margin-left: 38px;
    }
    .poster{
        margin: inherit;
        margin-top:19px;
        margin-left: 38px;
        max-width: 400px;
    }
    .cabeceranews{
        text-align: inherit;
    }
    .news{
        display:flex;
        flex-direction: column;
        align-items: baseline;
    }
    .news h1{
        font-size: 45px;
        margin-bottom:20px;
        line-height: 55px;
    }
    .news p{
        align-self: start;
        margin-right: 50px;
        max-width: 400px;
        font-size:39px;
        font-weight:400;
    }
    

    .textnews{
        display:flex;
        flex-direction: row-reverse;
        max-width:inherit;
    }

}

/*------------------ ABOUT --------------------*/

@media screen and (min-width: 810px){
    #cabecera{
        width: 100vw;
    }
    
    .about {
        width: 70%;
        margin: inherit;
        margin-left: 4%;
    }
    .about a{
        font-size: 37px;
    }
    .about p{
        /* font-weight: 500; */
         line-height: 48px; 
        text-align: inherit;
        /* width: 898px; */
        font-size: 40px;
        /* margin-left: 94px; */
    }
    .xarxes{
        justify-content: initial;
        margin-top: 74px;
        margin-left: 100px;
    }
}

/*---------------------THANK YOU -------------------*/

@media screen and (min-width: 810px){
    .checkoutSuccessCtn {   
        font-size: 50px;
        font-weight: 500;
        width: 649px;
        margin-left: 15%;
        }
    }

/*------------- TERMS & CONDITIONS --------------------*/

@media screen and (min-width: 810px){
    .TC p{
        width: 790px;
    }
}

/*-------------------MIN-WIDTH 1000px --------NEWS-----------------------*/
@media screen and (min-width:1000px){
    .news p{
        max-width:600px;
    }
}

/*------------------MIN WIDTH 1212px ----- ABOUT --------*/

@media screen and (min-width: 1212px){
    .about{
        width: 60%;
    }
}


/*----------------MIN WIDTH 1365px------------FOOTER ------*/

@media screen and (min-width: 1365px){
    footer{
    margin: 22% auto auto;
    }
}

/*---------------MIN WIDTH 1380px-------------NEWS--------*/

@media screen and (min-width: 1380px) {
    .news p{
        max-width: 800px;
    }
    
}