* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
   /*font-family: 'Roboto', sans-serif;*/
}
body, html {
    background-color: rgb(7, 7, 7);
    color:white;
    margin:0;
    padding:0;
    box-sizing:border-box;  
    width:100vw;
    font-family: "Playfair Display", serif;
    
}
/*header {
    background-image: url('images/cover.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height:311px;
    position:relative;
}*/
/*.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(247, 239, 239, 0.856);
}*/
/*nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}
nav li {
 list-style: none;
 display: inline-block;
 padding-right: 10px;
 padding-left: 10px;
} */
/*-------------------------- Tienda ------------------------------*/
.cart {
   display:flex;
   justify-content: end;
   margin-right: 8%;
   
}
@media screen and (min-width: 810px){
    .cart {
        margin-right: 4%;
    }
}
.cart span {
    padding-left: 5px;
}
.cart a {
    padding: 10px;
    background-color:#fff;
    text-decoration: none;
    border-radius: 5px;
}
.cart ion-icon {
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
}
.cart a {
    background-color: #0b42e8;;
    color:#fff;
    cursor: pointer;
    text-decoration: none;
}
.container,
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    color: yellow;
}
.container {
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto 0;
    flex-wrap: wrap;
    justify-content: center;
}


.image {
    
    position: relative;
    overflow: hidden;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
@media screen and (min-width: 810px) {
    .container {
        justify-content:space-between;
        flex-direction: row;
    }
    .image {
        margin-right: 20px;
        margin-left: 20px;
    }
    }

.image img {
    width: 100%;
}
.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

/* .image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 { */
.showAddCart {
    bottom: 42px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}
h4 {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.increase {
    
    background-color: pink;
    
}
/*----------------------------------------HOME-----------------*/

#container{
    display:flex;
    flex-direction: column;
    background-color: black;
    
}
#header img{
    width:100%;
    padding-top: 20px;
}
#links{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    margin:5% auto;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    /*padding: 3rem;*/
    width: 100%;
    margin-top: 100px;
    /*background-color: beige;*/   
}
.titulos{
    margin:5% auto;
    font-size: 10px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.titulos a{
    text-decoration: none;
    color:white;
}
.atitulos:hover {
    color:yellow;

}

footer {
    margin-top: 70%;
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    font-style: italic;
}
@media screen and (min-width: 810px){
footer {
    margin:auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    font-style: italic;
}
}


footer a {
    text-decoration: none;
    margin: 50px 20px 20px;
    color: white;
}
footer p {
    margin: auto 20px 20px;
    
}
footer a:hover {
    color: yellow;
    
}



/*---------------------- CART PAGE ------------------------*/

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}
.products-container ion-icon  {
    font-size:25px;
    color:blue;
   /* margin-left: 10px;
    margin-right: 10px;*/
    cursor: pointer;
}
.product-header {
    width:100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}
.product-header h5 {
    margin: 5%;
}

.product-title {
    width:45%;
}

.price {
    width: 15%;
    border-bottom: 4px solid lightgray;
    display:flex;
    align-items: center;
}
.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width:45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.productincart img {
    width: 25%;
    /*margin:5%;*/
  
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle {
    width: 30%;
}
.basketTotal {
    width: 10%;
}

/*------------------------------------------ GRUPOS -------------------------------------*/


#bandas{
    display: flex;
    flex-direction: column;
    
}
#bandas a{
    text-decoration: none;
}
#silenciosepulcral img{
    width: 100%;
   /* margin-left:14px;*/
}

#elsadealfonso img{
    width:100%;
}
.banda{
    margin: auto 10%;   
}
@media screen and (min-width: 810px) {
    .banda {
        margin: auto;
        width: 455px;
    }
}

.banda-text span{
    display:none;
}
h3, h2{
    color:white;
    letter-spacing: 1px;
    margin: 3px auto 30px;
}

.catalogo >h3 {
    color: white;
} 
.containerfoto{
    position: relative;
    width: 100%;
}
.imagen {
    display:block;
    width:100%;
    height:auto;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
.containerfoto:hover .overlay {
    opacity: 1;
}
.texto {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.containerfoto a{
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
}


/*----------------------- Silencio sepulcral Elsa de Alfonso --------------------------------*/


.videos {
    max-width:1000px;
    margin: 20px;
}

.videos video {
    width: 100%;
}
.videos video:hover {
    cursor: pointer;
}
@media screen and (min-width: 810px) {
    .videos {
        max-width: 500px;
        margin: 30px auto;
    }
}

/*------------------------------ Novedades ----------------------------------------*/

.poster {
    max-width: 500px;
    margin: auto;
}
.poster img {
    width: 100%;
}

/*------------------------------------ About ---------------------------------------*/
.about p {
    text-align: center;  
    letter-spacing: 1px;
    line-height: 24px;
}
.about a{
   
    text-decoration: none;
    color: white;
    font-weight: 800;
    transition: all 0.3s ease;
}
.about a:hover {
    color:blue;
}

.about {
    margin: 10%;
}
